@media only screen and (max-width: 600px) {
  #buttons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0;
  }

  /* 첫 번째 버튼의 margin-top 값을 1rem으로 지정합니다. */
  button:first-child {
    margin-top: 1rem;
  }
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
  color: #fff;
  border: none;
}

#game-button {
  background-color: #FFD700;
}

#chat-button {
  background-color: #00CED1 ;
}

#picture-button {
  background-color: #FFA500 ;
}

#spaGPT-button {
  background-color: #4B0082 ;
}

#fastcam-button {
  background-color: #aFD700 ;
}

#bohum-button {
  background-color: #aFD700 ;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("./background.png");
}